.h4{
    margin-left: 150px;
    margin-top: 80px !important;


}
p{
    color: gray;
}
.showCase{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
    margin-top: 30px;
    /* border: solid; */
    height: 300px;
    margin-left: 150px;
    margin-right: 150px;
}
.thing{
    border: solid 1px white;
    background-image: -webkit-linear-gradient(#392059, #1F1F7A);
    height: 260px;
    width: 360px;
    border-radius: 10px;
    padding: 14px;
    overflow: hidden;
}
.h1, .h4{
    color: white !important;
    font-size: 30px !important;
}