.Ready{
    
        color: #fff !important;
        width: 640px;
        margin: 5px auto;
        /* border: solid; */
        margin-top: 10px;
        padding: 10px;
        font-size: 19px !important;
        height: 100px;
        display: flex;
        align-items: end;
        margin-bottom: 20px;
    }

.form-control{
    /* opacity: 0.5; */
    height: 55px;
    
}
.input-group{
    gap: 15px;

}