.middle-block {
    text-align: center;
    margin: 10px;
    font-weight: bolder;
   margin-bottom: 190px;
    h1, h3, h4 {
        color: #fff;
        width: 650px;
        margin: 2px auto;
        padding: 10px;
        
    }
    h1 {
        font-size: 57px;
        margin-top:160px;
        font-weight: bolder;
    }
    h4 {
        font-size: 14px;
    }
    h3 {
        font-size: 23px;
    }
}