body{
    background-image: url('./assets/netflix-background.jpg');
     margin: 0;
    padding: 0;
    box-sizing: border-box;
    .shade{
    position: absolute;
    /* position: fixed; */
    height: 2940px;
    width: 100%;
    background-color: black;
    opacity: 0.85;
    z-index: -1;
}

.blackShade{
    position: absolute;
    top: 700px;
    height: 2240px;
    width: 100%;
    background-color: rgb(8, 8, 21);
    opacity: 1;
    z-index: -1;
    border-top: solid red 4px;
    border-radius: 20px 20px 0 0;
    /* position: fixed; */
    /* border-radius: 80%; */
    box-shadow: 0px -5px 20px 0px rgb(154, 25, 25);
   
}
}
